<div class="cms-container">
	<div class="content-left-cms">
		<div class="logo"><img src="images/logo.png"></div>
		<div my-menu></div>
	</div>

	<div class="content-right-cms">
		<div my-header-logged></div>
		<div class="content-cms">			
			<div class="section-cmsplan">
				<div class="grid-container-cmsplan">
					<div class="form-cmsplan">
						

						<div class="form-style-5">
							<form>
								<fieldset>
								<legend><span class="number">1</span> Package Info</legend>
								<input type="text" name="pkgname" ng-model="pkgname" placeholder="Package Name *">
								<input type="text" name="pkgvalue" ng-model="pkgvalue" placeholder="Package value *">
								<label for="package">Package:</label>
								<select id="package" ng-model="choosedplan" name="package">
								<optgroup label="package kind">
								  <option value="corStandard">Standard</option>
								  <option value="corPro">Professional</option>
								  <option value="corAdvanced">Advanced</option>
								  <option value="corUltimate">Ultimate</option>  
								  <option value="corEnterprise">Enterprise</option>  
								</optgroup>
								</select>      
								</fieldset>
								<fieldset>
								<legend><span class="number">2</span> Additional Info</legend>
								<textarea name="textarea1" ng-model="pkgline1" placeholder="line one additional info"></textarea>
								<textarea name="textarea2" ng-model="pkgline2" placeholder="line two additional info"></textarea>
								<textarea name="textarea3" ng-model="pkgline3" placeholder="line three additional info"></textarea>
								</fieldset>
								<fieldset>
								<legend><span class="number">3</span> Publish Info</legend>								
								<input type="checkbox" name="animal" value="alwaysvisible" />Sempre visível 
			                    <input type="checkbox" name="animal" value="periodic" /> Publicado no período de:

								<div>
								    <div style="width: 100px; float: left">
								      <h4>Standard date-picker</h4>
								      <md-datepicker ng-model="myApp.myDateIni" md-placeholder="Enter date"></md-datepicker>
								    </div>								
								     
								 </div>

			          
								</fieldset>
								<input type="submit" value="Apply" />
							</form>
						</div>

					</div>

					<div class="preview-cmsplan">
						<div class=preview-card>
							<div class="{{choosedplan}}">{{pkgname}}
							</div>
							<div class="card-price">R$ {{pkgvalue}}</div>
							<div class="card-price-text">por mês</div>
							<div class="card-price-textline1">{{pkgline1}}</div>
							<div class="card-price-textline2">{{pkgline2}}</div>
							<div class="card-price-textline3">{{pkgline3}}</div>
						</div>
					</div>

				</div>
			</div>		
		</div>		
	</div>
	
</div>