.pb{

}
.menuc {
	height: calc(100vh - 250px);
	border:solid black;
}
.asidec {
	height: calc(100vh - 250px);
	border:solid red;
}
.headerc {
	min-height: 100px;	
	border:solid blue;
}
.content .main-contentc {
	height: calc(100vh - 250px);
	border:solid yellow;
}
.footerc {
	min-height: 150px;
	border:solid green;
}
.content {
	height: calc(100vh - 250px);
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) and (max-width: @screen-sm-max) { 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}