
.nip-bg {

	background: url(/images/naextip-banner2-1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;

	
}
.black-head {	
	height: 50px;
	background-color: black;
	opacity: 0.5;

}
.header5 {
	height: 150px;	
	background-color: white;
	opacity: 0.2;
}
.footer5 {
	min-height: 150px;	
	background-color: darkgrey;
}
.content5 {
	height: calc(100vh - 300px);
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) and (max-width: @screen-sm-max) { 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}